
[submodule "libs/persistence/database/JpaAnnotationReader"]
	path = libs/persistence/database/JpaAnnotationReader
	url = https://github.com/dankito/JpaAnnotationReader.git

[submodule "libs/persistence/database/couchbase-lite-jpa"]
	path = libs/persistence/database/couchbase-lite-jpa
	url = https://github.com/dankito/couchbase-lite-jpa.git

[submodule "libs/persistence/database/ormlite-jpa-core"]
	path = libs/persistence/database/ormlite-jpa-core
	url = https://github.com/dankito/ormlite-jpa-core.git
[submodule "libs/persistence/database/ormlite-jpa-jdbc"]
	path = libs/persistence/database/ormlite-jpa-jdbc
	url = https://github.com/dankito/ormlite-jpa-jdbc.git
[submodule "libs/persistence/database/ormlite-jpa-android"]
	path = libs/persistence/database/ormlite-jpa-android
	url = https://github.com/dankito/ormlite-jpa-android.git
[submodule "libs/persistence/database/couchbase-lite-java-core"]
	path = libs/persistence/database/couchbase-lite-java-core
	url = https://github.com/dankito/couchbase-lite-java-core.git
[submodule "libs/persistence/database/couchbase-lite-java"]
	path = libs/persistence/database/couchbase-lite-java
	url = https://github.com/dankito/couchbase-lite-java.git
[submodule "libs/persistence/database/couchbase-lite-android"]
	path = libs/persistence/database/couchbase-lite-android
	url = https://github.com/dankito/couchbase-lite-android.git
[submodule "libs/persistence/database/couchbase-lite-java-listener"]
	path = libs/persistence/database/couchbase-lite-java-listener
	url = https://github.com/dankito/couchbase-lite-java-listener.git
