<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
    package="net.dankito.deepthought" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- for TestFairy -->
    <uses-permission android:name="android.permission.READ_LOGS" android:required="false" />
    <uses-permission android:name="android.permission.BATTERY_STATS" android:required="false" />


    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:installLocation="auto"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />

            <!-- For receiving shared data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/html" />
            </intent-filter>

            <!-- We'll implement that later on -->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEND" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data android:mimeType="image/*" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEND_MULTIPLE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data android:mimeType="image/*" />-->
            <!--</intent-filter>-->
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8cbd7e922734c75d5e98bb731819978488168ade"
        />

    </application>

</manifest>
